body{
    font-family: "Roboto";
    color: rgb(119, 119, 119);
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
    margin:3% 5% 8% 5% ;
}

header, header h1{font-weight: normal;margin-top: -10px;}

input, button{
    font-family: "Roboto";
    font-size: 14px;
}

input[type='submit'], button{
    border:2px solid #ccc;
    cursor: pointer;
}

fieldset .highlight_path{
    width: 160px;
    margin: 5px 5px 5px 15px;
}

button[disabled]{
    cursor: not-allowed;
}

fiedlset{
    width: 95%;
    padding-top: 25px;
}

div{
    position: relative;
    float: left;
}

div#data_form{
    height:400px;
    width: 33%;
    padding:0px 15px 0px 15px;
    margin:0px 15px 0px 0px;
    
}

div#information{
    top:25px;
    font-size: 20px;
}

div.footer{
    width: 100%;
    border:1px solid;
    text-align: center;
    margin-top: 12px;
    padding: 10px;
    font-size: 13px;
}

a{
    text-decoration: none;
}

p{
    text-indent: 25px;
    text-align: justify;
    line-height: 0.8cm;
}

svg{
    border: 2px solid #3399FF;
}

.node {
  fill: white;
  stroke: white;
  stroke-width: 0px;
  cursor: move;
}

.node circle{
stroke-width:4px;
}

.highlight_node {
  fill: white;
  stroke: white;
  stroke-width: 0px;
  cursor: move;
}
.highlight_node circle{
    fill:#3399FF;
    stroke-width:4px;}

.highlight_node textPath{
    fill:red;}

.link {
  fill: none;
  stroke: #bbb;
}

path.link {
  fill: none;
  stroke: #bbb;
  stroke-width: 2px;
}

marker#arrow_highlight {
  fill: #3399FF;
}
marker#arrow_normal {
  fill: #bbb;
}

.highlight_edge{
  fill: none;
  /*stroke: #3399CC; */
  stroke: #3399FF;
  stroke-width:  2.3px;
}

text {
    font: 14px "Roboto";
    pointer-events: none;
    font-weight: bold;
}

.edge_cost{
    fill: #bbb;
}

.subscript{
    font-size: 13px;
}