        
        <script>

            var width = ($("body").width() - $("#data_form").width() - 70 ), 
                height = 510;

            var svg = d3.select("#data_graph").append("svg")
                    .attr("width", width)
                    .attr("height", height);

            var force = d3.layout.force()
                    .size([width, height]);

            d3.csv("edges.csv",
                    function(links) {

                        var nodesByName = {};

                        // Create nodes for each unique source and target.
                        links.forEach(function(link) {
                            link.source = nodeByName(link.Node1);
                            link.target = nodeByName(link.Node2);
                        });

                        // Extract the array of nodes from the map by name.
                        var nodes = d3.values(nodesByName);
                        
                        // Per-type markers, as they don't inherit styles.
                        svg.append("defs").selectAll("marker")
                            .data(["arrow_highlight","arrow_normal"])
                            .enter().append("marker")
                            .attr("id", function(d) { return d; })
                            .attr("viewBox", "0 -5 10 10")
                            .attr("refX", 27)
                            .attr("refY", -1.9)
                            .attr("markerWidth", 6)
                            .attr("markerHeight", 6)
                            .attr("orient", "auto")
                            .append("path")
                            .attr("d", "M0,-5L10,0L0,5");

                        
                        var path = svg.append("g").selectAll("path")
                                .data(links)
                                .enter().append("path")
                                .attr("id",function(d,i) { return "edge_" + d.Node1 + "_" + d.Node2; })
                                .attr("class", "link")
                                .attr("marker-end", "url(#arrow_normal)");
                              
                        var edge_label = svg.append("svg:g").selectAll(".edge_label")
                              .data(links)
                              .enter().append("svg:text")
                              .attr("class", "edge_label")
                              .append("svg:textPath")
                              .attr('dy', function(d) {return d.Cost*5;})
                              .attr("id", function(d) { return "edge_cost_" + d.Node1 + "_" + d.Node2; })
                              .attr("class", "edge_cost")
                              .attr("startOffset", "50%")
                              .attr("text-anchor", "middle")
                              .attr("xlink:href", function(d) { return "#edge_" + d.Node1 + "_" + d.Node2; })
                              .append("svg:tspan")
                              .attr("dy","-5")
                              .text(function(d) { return d.Cost; });
                
                        // Create the node circles.
                        var node = svg.append("g").selectAll(".node")
                                .data(nodes)
                                .enter().append("g")
                                .attr("class", "node")
                                .on("mouseover", mouseover)
                                .on("mouseout", mouseout)
                                .attr("id",function(d,i) { return "node_" + d.name; })
                                .call(force.drag);

                        node.append("circle")
                                .attr("r", 21)
                                .attr("fill", "#63b8ff");

                        node.append("text").attr("text-anchor", "middle")
                                .attr("dy", ".15em")
                                .text("V")
                                .append("tspan")
                                .attr("dy", ".7em")
                                .attr("class", "subscript")
                                .text(function(d) {
                                    return d.name;
                                });


                        // Start the force layout.
                        force
                                .nodes(nodes)
                                .links(links)
                                .linkDistance(135)
                                .charge(-800)
                                .on("tick", tick)
                                .start();

                        function tick() {
                            node.attr("transform", function(d) {
                                return "translate(" + d.x + "," + d.y + ")";
                            });

                            path.attr("d", function(d) {
                                var dx = d.target.x - d.source.x,
                                    dy = d.target.y - d.source.y,
                                    dr = Math.sqrt(dx * dx + dy * dy);
                                    return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
                            });
                            
                        }

                        function nodeByName(name) {
                            return nodesByName[name] || (nodesByName[name] = {name: name});
                        }
                    });

                    function mouseover() {
                      d3.select(this).select("circle").transition()
                          .duration(400).attr("fill","red");
                    }

                    function mouseout() {
                      d3.select(this).select("circle").transition()
                          .duration(200).attr("fill","#3399FF");
                    }

        </script>