<!--
    Desenvolvido com base em exemplos encontrados em http://bl.ocks.org/mbostock
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link href="./css/style.css" rel="stylesheet">
        <script src="./js/jquery.min.js"></script>
        <script src="./js/d3.v2_2.9.3.js"></script>
        <script>
            function highlighter(csv){
                 var aresta = d3.select("#data_graph");
                 var svg = d3.select("#data_graph");
                 d3.csv(csv,
                    function(links) {
                        var nodesByName = {};

                        // Create nodes for each unique source and target.
                        links.forEach(function(link,i) {
                            link.source = nodeByName(link.Node1);
                            link.target = nodeByName(link.Node2);
                            // Edges
                            var l = svg.selectAll("#edge_"+link.source.name+"_"+link.target.name+"");
                            
                            // Cost label
                            var lc = svg.selectAll("#edge_cost_"+link.source.name+"_"+link.target.name+"");
								if(l[0].length == 0)
									l = svg.selectAll("#edge_"+link.target.name+"_"+link.source.name+"");
                                if(lc[0].length == 0)
									lc = svg.selectAll("#edge_cost_"+link.target.name+"_"+link.source.name+"");
                                    
								// Fim do "jeitinho"
                            
                                l.attr("class","highlight_edge").attr("marker-end", "url(#arrow_highlight)");
                               
                                lc.style("fill","red");
                            
                                var s = svg.selectAll("#node_"+link.source.name+"");
                                    s.attr("class","highlight_node");
                                var t = svg.selectAll("#node_"+link.target.name+"");
                                    t.attr("class","highlight_node");
                            
                        });
                     
                        

                        function nodeByName(name) {
                            return nodesByName[name] || (nodesByName[name] = {name: name});
                        }
                    });
                
                    
            }
        
            function showGraph() {
                var url = "graph.html";
                jQuery.ajax({
                        type: 'GET',
                        url: url,
                        dataType: "html",
                        cache: false,
                        success: function(content) {
                            $("#data_graph").empty().append( content );
                        }
                });
            }

            $(document).ready(function() {
                //changeNode1();

                $("#show_graph").click(function() {
                    showGraph();
                });
                $("button.highlight_path").click(function(d) {
                    highlighter(this.id+".csv");
                    
                });

                $("#change_node1").click(function() {
                    changeNode1();
                });

                $('#form_node').submit(function() {
                    var datafield = jQuery(this).serialize();
                    var url_form = $('#form_node').attr( "action" );
                    jQuery.ajax({
                        type: 'POST',
                        url: url_form ,
                        data: datafield,
                        success: function() {
                            $("#node2").val("");
                            $("#node2").focus();
                            $("label[for='node2'").html("...you know a lot of people, I bet! So, come on... this field is still empty:");
                            $("div#information").css("display","block");
                            showGraph();
                        },
                        error: function() {
                            alert("I'm sorry, I couldn't save your data =(");
                        }
                    });

                    return false;
                });
            });
        </script>
    </head>
    <body>
        <div id="data_form">
            <header>
                <h1> Trabalhando com grafos.</h1>                
            </header>
            <div>
                <p>
                Grafo gerado com os dados, lidos pela aplicação console, salvos em <a href="edges.csv">edges.csv</a>. Este arquivo contem <em>n</em> tuplas compostas por 3 colunas: os dois vertices da aresta e o valor do custo da aresta.                
                </p>
                <button name="show_graph" id="show_graph" >Restaurar o grafo</button>
                <br><br>
            </div>
            
            <fieldset>
                <legend> Algoritmos </legend>
                
                <button name="highlight_path" class="highlight_path" id="kruskal" >Exibir Kruskal</button>
                <button name="highlight_path" class="highlight_path" id="prim">Exibir Prim</button>
                <button name="highlight_path" class="highlight_path" id="floyd-warshall" disabled>Exibir Floyd-Warshall</button>
                <button name="highlight_path" class="highlight_path" id="ford-fulkerson" disabled>Exibir Ford-Fulkerson</button>
                <button name="highlight_path" class="highlight_path" id="dijkstra" disabled>Exibir Dijkstra</button>
            </fieldset>
        </div>

        <div id="data_graph">
            33
        </div>
        
        <script>
            showGraph();        
        </script>
        <div class="footer">
            Universidade Federal Rural de Pernambuco - Unidade Acadêmica de Garanhuns <br>
            Algoritmos e Estruturas de Dados - Projeto #2 - 2015.1 <br>
            José Kellison de Almeida Silva
        </div>
    </body>
</html>


